.columnz3 {
    float: left; 
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: white;
  }
  .columnz3 > p {
    font-weight: 900;
  }
  
  /* The Modal (background) */
  .modal3 {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: black;
  }
  
  /* Modal Content */
  .modal3-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    width: 90%;
    max-width: 1200px;
  }
  /* Hide the slides by default */
  .mySlides3 {
    display: none;
  }
  .mySlides3 > div {
      justify-content: center;
      background-color: white;
  }
  /* Caption text */
  .caption3-container {
    text-align: center;
    background-color: black;
    padding: 2px 16px;
    color: white;
  }
  
  img.demo3 {
    opacity: 0.6;
    background-color: white;
  }
  .close3 {
    color: white;
    position: absolute;
    top: 70px;
    right: 25px;
    font-size: 35px;
    font-weight: bold;
  }
  
  .close3:hover,
  .close3:focus {
    color: #999;
    text-decoration: none;
    cursor: pointer;
  }